{% extends "formlayout.html" %}

{% from "macroes.html" import render_pager, render_checkbox_question %}
{% from "macroes.html" import render_radio_question, render_wrapped_input %}
{% from "macroes.html" import render_meta_data %}

{% block form %}
<div class="container-fluid">
    <h1>{{ survey['title'] }}</h1>
    <form method="post" action="{{ url_for(route) }}">
        <h2>总览</h2>
        {{ render_radio_question(survey['questions'][0]) }}
        <div class="form-group row">
            <label class="control-label col-md-2">{{ survey['questions'][1]['title'] }}</label>
            <div class="col-md-2">
                <input class="form-control" name="{{ survey['questions'][1]['q_id'] }}" type="{{ survey['questions'][1]['type'] }}">
            </div>
        </div>
        <h2>诊断依据</h2>
        {% for question in survey['questions'][2:15] %}
            {% if question['options'][0][0] == 'a' %}
            {{ render_checkbox_question(question) }}
            {% else %}
            {{ render_radio_question(question) }}
            {% endif %}
        {% endfor %}
        <h2>本次发作特征描述</h2>
        {% for question in survey['questions'][15:] %}
            {% if question['options'][0][0] == 'a' %}
            {{ render_checkbox_question(question) }}
            {% else %}
            {{ render_radio_question(question) }}
            {% endif %}
        {% endfor %}
        {{ render_meta_data(form_name, status, report_type) }}
        <button class="btn btn-primary", type="submit">提交</button>
    </form>
</div>
{% endblock form %}