{% extends "base.html" %}
{% from "macroes.html" import render_pager, render_checkbox_question, render_radio_question %}

{% block form %}
<div class="container">
    <h2>{{ survey['title'] }}</h2>
    <form method="post" action="{{ url_for(route) }}">
        {% for question in survey['questions'] %}
        {% if loop.index >= 3 %}
        {{ render_checkbox_question(question) }}
        {% else %}
        {{ render_radio_question(question) }}
        {% endif %}
        {% endfor %}
        <button class="btn btn-primary" type="submit">提交</button>
    </form>
</div>
{% endblock form %}