{% extends "formlayout.html" %}

{% from "macroes.html" import render_checkbox_question, render_meta_data %}

{% block form %}
<div class="container-fluid">
    <form method="post" action="{{ url_for(route) }}">
        <h2>{{ survey['title'] }}</h2>
        <br>
        {{ render_checkbox_question(survey['q_1']) }}
        <br>
        {{ render_checkbox_question(survey['q_2']) }}
        <br>
        {{ render_meta_data(form_name, status, report_type) }}
        <button class="btn btn-primary" type="submit">提交</button>
    </form>
</div>
{% endblock form %}