{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ survey['title'] }}</h2>
    <p>{{ survey['description'] }}</p>
    <form method="post" action="{{ url_for(route) }}">
        <table class="table">
            <tr>
                <td rowspan=2>事件名称</td>
                <td colspan=4>事件发生时间</td>
                <td colspan=2>性质</td>
                <td colspan=5>精神影响程度</td>
                <td colspan=4>影响持续时间</td>
                <td>备注<td>
            </tr>
            <tr>
                <td>未发生</td>
                <td>一年前</td>
                <td>一年内</td>
                <td>长期性</td>
                <td>好</td>
                <td>坏</td>
                <td>无影响</td>
                <td>轻</td>
                <td>中</td>
                <td>重</td>
                <td>极重</td>
                <td>三月内</td>
                <td>半年内</td>
                <td>一年内</td>
                <td>一年以上</td>
                <td>备注</td>
            </tr>
            <tr>
                <td>
                    <select name="event_code" class="col-s-2">
                        {% for code, event in survey['options'] %}
                        <option value="{{ code }}">{{ event }}</option>
                        {% endfor %}
                    </select>
                </td>
                {% for i in range(4) %}
                <td><input type="radio" name="event_date" value="{{ i }}"></td>
                {% endfor %}
                <td><input type="radio" name="property" value="1"></td>
                <td><input type="radio" name="property" value="0"></td>
                {% for i in range(5) %}
                <td><input type="radio" name="degree" value="{{ i }}"></td>
                {% endfor %}
                {% for i in range(4) %}
                <td><input type="radio" name="duration" value="{{ i }}"></td>
                {% endfor %}
                <td><input type="text" name="note"></td>
            </tr>
        </table>
        <input type="submit">
    </form>
</div>
{% endblock %}