{% extends "base.html" %}
{% from "macroes.html" import render_pager %}

{% block form %}
<div class="container">
    <h2>{{ survey['title'] }}</h2>
    <br>
    <form class="form-horizontal" method="post" action="{{ url_for(route) }}">
        <div class="form-group">
            <label class="col-sm-1 control-label">事件名称</label>
            <div class="col-sm-3">
            <select class="form-control" name="event_code">
                {% for code, event in survey['options'] %}
                <option value="{{ code }}">{{ event }}</option>
                {% endfor %}
            </select>
            </div>
        </div>
        <table class="table">
            <tr>
                <td colspan=4>事件发生时间</td>
                <td colspan=2>性质</td>
                <td colspan=5>精神影响程度</td>
                <td colspan=4>影响持续时间</td>
            </tr>
            <tr>
                <td>未发生</td>
                <td>一年前</td>
                <td>一年内</td>
                <td>长期性</td>
                <td>好</td>
                <td>坏</td>
                <td>无影响</td>
                <td>轻</td>
                <td>中</td>
                <td>重</td>
                <td>极重</td>
                <td>三月内</td>
                <td>半年内</td>
                <td>一年内</td>
                <td>一年以上</td>
            </tr>
            <tr>
                {% for i in range(4) %}
                <td>
                    <label class="btn btn-default label-full">
                    <input type="radio" name="event_date" value="{{ i }}">
                    </label>
                </td>
                {% endfor %}
                <td>
                    <label class="btn btn-default label-full">
                    <input type="radio" name="property" value="1">
                    </label>
                </td>
                <td>
                    <label class="btn btn-default label-full">
                    <input type="radio" name="property" value="0">
                    </label>
                </td>
                {% for i in range(5) %}
                <td>
                    <label class="btn btn-default label-full">
                    <input type="radio" name="degree" value="{{ i }}">
                    </label>
                </td>
                {% endfor %}
                {% for i in range(4) %}
                <td>
                    <label class="btn btn-default label-full">
                    <input type="radio" name="duration" value="{{ i }}">
                    </label>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>备注</td>
                <td colspan=14><input class="form-control" type="text" name="note"></td>
            </tr>
        </table>
        <input type="submit">
    </form>
</div>
{% endblock %}