{% extends "formlayout.html" %}

{% from "macroes.html" import render_table_question, render_radio_question %}
{% from "macroes.html" import render_meta_data %}

{% block form %}
<div class="container-fluid">
    <h2>{{ survey['title'] }}</h2>
    <br>
    <p>{{ survey['description'] }}</p>
    <br>
    <form method="post" action="{{ url_for(route) }}">
        <table class="table">
            <tr>
                {% for col in survey['cols'] %}
                <td><strong>{{ col }}</strong></td>
                {% endfor %}
            </tr>
            {% for question in survey['questions'][:-1] %}
            {{ render_table_question(question) }}
            {% endfor %}
        </table>
        {{ render_radio_question(survey['questions'][-1]) }}
        {{ render_meta_data(form_name, status, report_type) }}
        <button class="btn btn-primary" type="submit">提交</button>
    </form>
</div>
{% endblock %}
            