{% extends "formlayout.html" %}

{% from "macroes.html" import render_pager, render_meta_data %}

{% block head %}
{{ super() }}
<style>
input[type=range] {
    display: inline-block;
    width:auto
}
input[type=number] {
    display: inline-block;
    width:auto;
}
output { 
    width: auto;
    display: inline-block;
}
.text-danger {
    color: #a94442;
    font-size: x-large;
}
</style>
{% endblock %}

{% block form %}
<div class="container-fluid">
    <form method='post' action="{{ url_for(route) }}" oninput="score.value=parseInt(range1.value)">
        <h2>疼痛问卷（自评-状态）</h2>
        <br>
        <p><strong>{{ survey['questions'][0]['title'] }}</strong></p>
        <ul class="list-unstyled">
        {% for value, opt_str in survey['questions'][0]['options'] %}
            <li>
                <label class="btn btn-default">
                    {% if value | string in survey['questions'][0]['selected'] %}
                    <input type="checkbox" name="{{ survey['questions'][0]['q_id'] }}" value="{{ value }}" checked>{{ opt_str }}
                    {% else %}
                    <input type="checkbox" name="{{ survey['questions'][0]['q_id'] }}" value="{{ value }}">{{ opt_str }}
                    {% endif %}
                </label>
            </li>
        {% endfor %}
        </ul>
        <br>
        <div class="form-group">
            <span><strong>如果存在疼痛，最长持续多久？</strong></span>
            <input type="number" class="form-control" max="100" min="1" name="{{ survey['questions'][1]['q_id'] }}" value="{{ survey['questions'][1]['selected'] }}">
            <span><strong>{{ survey['questions'][1]['title'] }}</strong></span>
            <input type="number" class="form-control" max="31" min="1" name="{{ survey['questions'][2]['q_id'] }}" value="{{ survey['questions'][2]['selected'] }}">
            <span><strong>{{ survey['questions'][2]['title'] }}</strong></span>
        </div>
        <hr>
        <h2>疼痛视觉模拟量表（VAS） （自评-状态）</h2>
        <br>
        <p><strong>{{ survey['questions'][3]['title'] }}</strong></p>
        <br>
        <div class="form-group">
            <label>无疼痛（0）</label>
            <input id="range1" type="range" name="{{ survey['questions'][3]['q_id'] }}" min="0" max="10" value="{{ survey['questions'][3]['selected'] }}">
            <label>最严重疼痛（10）</label>
        <label>疼痛分数: </label>
        <output class="text-danger" name="score" id="score" for="range1">{{ survey['questions'][3]['selected'] }}</output>
        </div>
        {{ render_meta_data(form_name, status, report_type) }}
        <button class="btn btn-primary" type="submit">提交</button>
    </form>
</div>
{% endblock form %}