{% extends "formlayout.html" %}

{% from "macroes.html" import render_radio_question, render_table_question, render_wrapped_input, render_meta_data %}

{% block form %}
<div class="container-fluid">
    <h1>{{ survey['title'] }}</h1>
    <br>
    <p>{{ survey['description'] }}</p>
    <br>
    <form action="{{ url_for(route) }}" method="post">
        <ul class="list-unstyled">
        {% for question in survey['questions'][:4] %}
            <li>{{ render_wrapped_input(question) }}</li>
            <li><label></label></li>
        {% endfor %}
        </ul>
        <br>
        <table class="table">
            <p>5. 近 1 个月 ，因下列情况影响睡眠而烦恼：</p>
            <tr>
                <td>症状条目</td>
                <td>无</td>
                <td><1次/周</td>
                <td>1-2次/周</td>
                <td>≥3次/周</td>
            </tr>
            {% for question in survey['questions'][4:13] %}
            {{ render_table_question(question) }}
            {% endfor %}
        </table>
        {% for question in survey['questions'][-4:] %}
        {{ render_radio_question(question) }}
        {% endfor %}
        {{ render_meta_data(form_name, status, report_type) }}
        <button class="btn btn-primary" type="submit">提交</button>
    </form>
</div>
{% endblock form %}