{% extends "base.html" %}
{% from "macroes.html" import render_radio_question, render_table_question, render_wrapped_input %}

{% block content %}
<h1>{{ survey['title'] }}</h1>
<p>{{ survey['description'] }}</p>
<form action="{{ url_for(route) }}" method="post">
    {% for question in survey['questions'][:4] %}
    {{ render_wrapped_input(question) }}
    {% endfor %}
    <br>
    <table class="table">
        <p>5. 近 1 个月 ，因下列情况影响睡眠而烦恼：</p>
        {% for question in survey['questions'][4:13] %}
        {{ render_table_question(question) }}
        {% endfor %}
    </table>
    {% for question in survey['questions'][13:] %}
    {{ render_radio_question(question) }}
    {% endfor %}
    <input type="submit">
</form>
{% endblock content %}