{% extends "base.html" %}
{% from "macroes.html" import render_pager, render_radio_question %}

{% block content %}
<div class="container">
    <h2>{{ survey['title'] }}</h2>
    <form method="post" action="{{ url_for(route) }}">
        {% for question in survey['questions'] %}
        {% if 'options' in question %}
        {{ render_radio_question(question) }}
        {% else %}
        <div class="form-group">
            <div class="row">
            <div class="col-md-3">
                <p class="text-left"><strong>{{ question['title'] }}</strong><p>
            </div>
            </div>
            <div class="row">
            <div class="col-md-3">
                <input class="form-control" name="{{ question['q_id'] }}" type="{{ question['type'] }}">
            </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
         <button class="btn btn-primary" type="submit">提交</button>
    </form>
    {{ render_pager(previous, next) }}
</div>
{% endblock %}