{% extends "formlayout.html" %}

{% from "macroes.html" import render_meta_data, render_checkbox_question %}

{% block form %}
<div class="container-fluid">
    <h2>{{ survey['title'] }}</h2>
    <p>{{ survey['description'] }}</h2>
    <form class="form-horizontal" method="post" action="{{ url_for(route) }}">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td>系统</td>
                        <td>疾病名称</td>
                        <td>严重程度</td>
                        <td>治疗结果</td>
                    </tr>
                {% for question in survey['questions'][:16] %}
                    <tr>
                        <td>{{ question['title'] }}</td>
                        {% for i in range(3) %}
                        <td>
                            <input class="form-control" name="{{ question['q_id'] }}">
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            {{ render_checkbox_question(survey['questions'][-1]) }}
        </div>
        {{ render_meta_data(form_name, status, report_type) }}
        <button class="btn btn-primary" type="submit">提交</button>
    </form>
</div>
{% endblock form %}