{% extends "formlayout.html" %}

{% from "macroes.html" import render_radio_question, render_meta_data %}

{% block form %}
<div class="container-fluid">
    <h2>{{ survey['title'] }}</h2>
    <p>{{ survey['description'] }}</p>
    <form class="form-horizontal" method="post" action="{{ url_for(route) }}">
        {% for question in survey['questions'] %}
        {% if loop.index != 12 %}
        <div class="form-group">
            <label class="control-label col-md-1">{{ question['title'] }}</label>
            <div class="input-group col-md-2">
                <input class="form-control" name="{{ question['q_id'] }}" type="{{ question['type'] }}" step="{{ question['step'] }}" value="{{ question['selected'] }}">
                {% if question['unit'] != '' %}
                <div class="input-group-addon">{{ question['unit'] }}</div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="form-group">
            <label class="control-label col-md-1">{{ question['title'] }}</label>
            <div class="col-md-2">
                <select class="form-control" name="{{ question['q_id'] }}">
                {% for val, opt_str in question['options']%}
                {% if val == question['selected'] or val | int == question['selected'] %}
                <option value="{{ val }}" selected>{{ opt_str }}</option>
                {% else %}
                <option value="{{ val }}">{{ opt_str }}</options>
                {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {{ render_meta_data(form_name, status, report_type) }}
        <button class="btn btn-primary" type="submit">提交</button>
    </form>
    <br>
</div>
{% endblock form %}