{% extends "base.html" %}
{% from "macroes.html" import render_slip, render_pager %}

{% block content %}
<div class="container">
    <h2>{{ survey['title'] }}</h2>
    <p>{{ survey['description'] }}</p>
    <form class="form-horizontal" method="post" action="{{ url_for(route) }}">
        <div class="form-group">
            <label class="control-label col-md-1">{{ survey['questions'][0]['title'] }}</label>
            <div class="col-md-2">
                <input class="form-control" name="q_1" type="date">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ render_slip(survey['questions'][1:]) }}
            </div>
        </div>
        <button class="btn btn-default" type="submit">提交</button>
    </form>
    {{ render_pager(previous, next) }}
</div>
{% endblock content %}