{% extends "base.html" %}
{% from "macroes.html" import render_radio_question, render_pager %}

{% block content %}
<div class="container">
    <h2>{{ survey['title'] }}</h2>
    <p>{{ survey['description'] }}</p>
    <form class="form-horizontal" method="post" action="{{ url_for(route) }}">
        <div class="form-group">
            <label class="control-label col-md-1">{{ survey['questions'][0]['title'] }}</label>
            <div class="col-md-2">
                <input type="date" name="q_1" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td>项目</td>
                        <td>结果</td>
                    </tr>
                    {% for question in survey['questions'][1:] %}
                    <tr>
                        <td>{{ question['title'] }}</td>
                        <td>
                            <input class="form-control" name="{{ question['q_id'] }}" type="number" step="0.1">
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <button class="btn btn-default" type="submit">提交</button>
    </form>
    {{ render_pager(previous, next) }}
</div>
{% endblock content %}