{% extends "base.html" %}
{% from "macroes.html" import render_pager %}

{% block form %}
<div class="container">
    <h2>{{ survey['title'] }}</h2>
    <p>{{ survey['description'] }}</p>
    <form class="form-horizontal" method="post" action="{{ url_for(route) }}">
        <div class="form-group">
            <label class="control-label col-md-1">{{ survey['questions'][0]['title'] }}</label>
            <div class="col-md-2">
                <input class="form-control" name="q_1" type="date">
            </div>
        </div>
        {% for question in survey['questions'][1:] %}
        <div class="form-group">
            <label class="control-label col-md-1">{{ question['title'] }}</label>
            <div class="input-group col-md-2">
                <input class="form-control" name="{{ question['q_id'] }}" type="{{ question['type'] }}" step="{{ question['step'] }}">
                {% if question['unit'] != '' %}
                <div class="input-group-addon">{{ question['unit'] }}</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-default" type="submit">提交</button>
    </form>
</div>
{% endblock form %}