{% extends "formlayout.html" %}

{% from "macroes.html" import render_pager, render_meta_data %}

{% block head %}
{{ super() }}
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='custom.js') }}"></script>
{% endblock %}

{% block form %}
<div class="container-fluid">
    <form method="post" action="{{ url_for(route) }}">
        <table class="table">
            <tr>
                {% for col in survey['cols'] %}
                <td class="input">{{ col }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for question in survey['questions'] %}
                <td>
                <input class="form-control" name="{{ question['q_id'] }}" type="{{ question['type'] }}">
                </td>
                {% endfor %}
                <td>
                    <button class="add btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" disabled>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </td>
            </tr>
        </table>
        {{ render_meta_data(form_name, status, report_type) }}
        <button class="sub btn btn-primary" type="button">提交</button>
    </form>
    <div class="container-fluid">
    <output></output>
    </div>
</div>
{% endblock form %}