{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PsyRates Forms{% endblock %}

{% block content %}
<div class="container">
    <p><a href="{{ url_for('main.selfreport') }}" class="btn btn-primary">Self Reposrt</a></p>
    <br>
    <h2>All self report forms used by PsyRates</h2>
    <ul>
        <li><a href="{{ url_for('main.forms', form_name='qids') }}">QIDS-SR16</a></li>
        <li><a href="{{ url_for('main.forms', form_name='dsss') }}">DSSS</a></li>
        <li><a href="{{ url_for('main.forms', form_name='pain') }}">PAIN</a></li>
        <li><a href="{{ url_for('main.forms', form_name='mfi_20') }}">MFI_20</a></li>
        <li><a href="{{ url_for('main.forms', form_name='psqi') }}">PSQI</a></li>
        <li><a href="{{ url_for('main.forms', form_name='meq_sa') }}">MEQ_SA</a></li>
        <li><a href="{{ url_for('main.forms', form_name='staxi_2') }}">STAXI_2</a></li>
        <li><a href="{{ url_for('main.forms', form_name='ipas') }}">IPAS</a></li>
        <li><a href="{{ url_for('main.forms', form_name='mdq') }}">MDQ</a></li>
        <li><a href="{{ url_for('main.forms', form_name='ssp') }}">SSP</a></li>
        <li><a href="{{ url_for('main.forms', form_name='pbi') }}">PBI</a></li>
        <li><a href="{{ url_for('main.forms', form_name='ctq') }}">CTQ</a></li>
        <li><a href="{{ url_for('main.forms', form_name='les') }}">LES</a></li>
    </ul>
    <h2>All other report forms used by Psyrates</h2>
    <ul>
        <li><a href="{{ url_for('main.forms', form_name='inout') }}">InOut</a></li>
        <li><a href="{{ url_for('main.forms', form_name='hamd') }}">HAMD</a></li>
        <li><a href="{{ url_for('main.forms', form_name='ymrs') }}">YMRS</a></li>
        <li><a href="{{ url_for('main.forms', form_name='cgi') }}">CGI</a></li>
        <li><a href="{{ url_for('main.forms', form_name='body_exam') }}">BODY EXAM</a></li>
        <li><a href="{{ url_for('main.forms', form_name='demograph') }}">DEMOGRAPH</a></li>
        <li><a href="{{ url_for('main.forms', form_name='psychosis') }}">PSYCHOSIS</a></li>
        <li><a href="{{ url_for('main.forms', form_name='treatment') }}">TREATMENT</a></li>
        <li><a href="{{ url_for('main.forms', form_name='attacks') }}">ATTACKS</a></li>
        <li><a href="{{ url_for('main.forms', form_name='common_diease') }}">COMMON DIEASE</a></li>
        <li><a href="{{ url_for('main.forms', form_name='somatopathy') }}">SOMATOPATHY</a></li>
        <li><a href="{{ url_for('main.forms', form_name='longterm_diease') }}">LONGTERM DIEASE</a></li>
        <li><a href="{{ url_for('main.forms', form_name='mense_pregnancy') }}">MENSE & PREGNANCY</a></li>
        <li><a href="{{ url_for('main.forms', form_name='abuse') }}">ABUSE</a></li>
        <li><a href="{{ url_for('main.forms', form_name='family_history') }}">FAMILY HISTORY</a></li>
    </ul>
</div>
{% endblock %}