{% extends "base.html" %}
{% from "macroes.html" import render_pager, render_nav %}

{% block head %}
{{ super() }}
<style>
label.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}
label.label-full {
    text-align: left;
    width: 100%;
}
 
.forms {
    padding-left:10px;
    padding-right:10px;
}
</style>
{% endblock head %}

{% block inner %}
<div class="row">
    <div class="col-md-offset-2 col-md-7 forms">
        {% block form %}
        {% endblock form %}
    </div>
    <div class="col-md-2 sidebar">
        {% block sidebar %}
        <div class="container-fulid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><strong>病人姓名：</strong>{{ patient['name'] }}</li>
                        <li><strong>编号：</strong>{{ patient['code'] }}</li>
                        <li><strong>当前编写者：</strong>{{ patient['writer'] }}</li>
                        <li><strong>当前随访窗：</strong>{{ request.args.get('status') }}</li>
                    </ul>
                    <a class="btn btn-primary" href="{{ url_for('main.logoutpatient') }}">退出填写</a>
                    <a class="btn btn-primary" href="{{ url_for('main.get_all_patients') }}">选择病人</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">自评</div>
                <div class="panel-body">
                    {{ render_nav(self_nav, 'self_report', progress) }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">他评</div>
                <div class="panel-body">
                    {{ render_nav(other_nav, 'other_report', progress) }}
                </div>
            </div>
            {{ render_pager(previous, next) }}
        </div>
        {% endblock sidebar %}
    </div>
</div>
{% endblock inner %}