{% macro render_radio_question(question) %}
    <div class="form-group">
        <p><strong>{{ question['title'] }}</strong></p>
        <ul class="list-unstyled">
        {% for value, opt_str in question['options'] %}
        <li>
            <label class="btn btn-default">
                <input type="radio" name="{{ question['q_id'] }}" value="{{ value }}">{{ opt_str }}
            </label>
         </li>
        {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro render_radio_survey(survey, route) %}
    <h2>{{ survey['title'] }}</h2>
    <br>
    <p>{{ survey['description'] }}</p>
    <br>
    <form action="{{ url_for(route) }}" method="post">
        {% for question in survey['questions'] %}
            {{ render_radio_question(question) }}
            <br>
        {% endfor %}
        <button class="btn btn-default" type="submit">提交</button>
    </form>
{% endmacro %}

{% macro render_table_question(question) %}
    <tr>
        <td class="col-md-3"><strong>{{ question['title'] }}</strong></td>
        {% for opt_value in question['opt_values'] %}
        <td class="col-md-1">
                <label class="btn btn-default label-full">
                    <input type="radio" name="{{ question['q_id'] }}" value="{{ opt_value }}">{{ opt_value }}
                </label>
        </td>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro render_table_survey(survey, route) %}
    <h2>{{ survey['title'] }}</h2>
    <br>
    <p>{{ survey['description'] }}</p>
    <br>
    <form method="post" action="{{ url_for(route) }}">
        <table class="table table-condensed table-bordered"> 
            <tr>
                {% for col in survey['cols'] %}
                <td><strong>{{ col }}</strong></td>
                {% endfor %}
            </tr>
            {% for question in survey['questions'] %}
                {{ render_table_question(question) }}
            {% endfor %}
        </table>
        <button class="btn btn-default" type="submit">提交</button>
    </form>
{% endmacro %}

{% macro render_checkbox_question(question) %}
<p><strong>{{ question['title'] }}</strong></p>
<ul class="list-unstyled">
{% for value, opt_str in question['options'] %}
    <li>
        <label class="btn btn-default">
            <input type="checkbox" name="{{ question['q_id'] }}" value="{{ value }}">{{ opt_str }}
        </label>
    </li>
{% endfor %}
</ul>
{% endmacro %}

{% macro render_wrapped_input(question) %}
    <div class="form-group">
        <span for="input">{{ question['prepend_text'] }}</span>
            <input class="form-control input-sm" form="main-form" type="{{ question['input_type'] }}" name="{{ question['q_id'] }}">
        <span for="input">{{ question['append_text'] }}</span>
    </div>
{% endmacro %}

{% macro render_pager(previous, next) %}
<ul class="pager">
    <li class="previous">
        <a href="{{ url_for(**previous) }}">
            <span class="glyphicon glyphicon-arrow-left"></span>上一页
        </a>
    </li>
    <li class="next">
        <a href="{{ url_for(**next) }}">
            下一页<span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    <li>
</ul>
{% endmacro %}

{% macro render_slip(questions) %}
<table class="table">
    <tr>
        <td>项目</td>
        <td>检查结果</td>
        <td>临床判断</td>
    </td>
    {% for question in questions %}
    {% if loop.index % 2 == 1 %}
    <tr>
        <td>{{ question['title'] }}</td>
        <td>
            <input class="form-control" name="{{ question['q_id'] }}" type="number" step="0.1">
        </td>
    {% else %}
        <td>
            <select class="form-control" name="{{ question['q_id'] }}">
                {% for val in question['opt_values'] %}
                <option value="{{ val }}">{{ val }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
 </table>
{% endmacro %}

{% macro render_option_input(question, index) %}
<li>
    <div class="row">
    <label class="control-label col-md-2">{{ question['title'] }}</label>
    <div class="col-md-2">
        <select class="form-control" name="{{ question['q_id'] }}">
            {% for val in question['opt_values'] %}
            <option val="{{ val }}">{{ val }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <input class="form-control" name="{{ question['q_id'] }}" type="number"
        min="{{ question['opt_values'][0] }}" max="{{ question['opt_values'][-1] }}"
        tabindex={{ index }}>
    </div>
    </div>
</li>
{% endmacro %}

{% macro render_option_survey(survey, route) %}
<h2>{{ survey['title'] }}</h2>
<p>{{ survey['description'] }}</p>
<form method="post" action="{{ url_for(route) }}">
    <ul class="list-unstyled">
    {% for question in survey['questions'] %}
    {{ render_option_input(question, loop.index) }}
    {% endfor %}
    </ul>
    <br>
    <button class="btn btn-primary" type="submit">提交</button>
</form>
{% endmacro %}