{% macro render_radio_question(question) %}
    <div class="radio">
        <p><strong>{{ question['title'] }}</strong></p>
        <ul class="list-unstyled">
        {% for value, opt_str in question['options'] %}
        <li>
            <label class="btn btn-default">
                <input type="radio" name="{{ question['q_id'] }}" value="{{ value }}">{{ opt_str }}
            </label>
         </li>
        {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro render_radio_survey(survey, route) %}
    <h2>{{ survey['title'] }}</h2>
    <br>
    <p>{{ survey['description'] }}</p>
    <br>
    <form action="{{ url_for(route) }}" method="post">
        {% for question in survey['questions'] %}
            {{ render_radio_question(question) }}
            <br>
        {% endfor %}
        <button class="btn btn-default" type="submit">提交</button>
    </form>
{% endmacro %}

{% macro render_table_question(question) %}
    <tr>
        <td class="col-xs-3"><strong>{{ question['title'] }}</strong></td>
        {% for opt_value in question['opt_values'] %}
        <td class="col-xs-1">
                <label class="btn btn-default label-full">
                    <input type="radio" name="{{ question['q_id'] }}" value="{{ opt_value }}">{{ opt_value }}
                </label>
        </td>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro render_table_survey(survey, route) %}
    <h2>{{ survey['title'] }}</h2>
    <br>
    <p>{{ survey['description'] }}</p>
    <br>
    <form method="post" action="{{ url_for(route) }}">
        <table class="table table-condensed table-bordered"> 
            <tr>
                {% for col in survey['cols'] %}
                <td><strong>{{ col }}</strong></td>
                {% endfor %}
            </tr>
            {% for question in survey['questions'] %}
                {{ render_table_question(question) }}
            {% endfor %}
        </table>
        <button class="btn btn-default" type="submit">提交</button>
    </form>
{% endmacro %}

{% macro render_checkbox_question(question) %}
<p><strong>{{ question['title'] }}</strong></p>
<ul class="list-unstyled">
{% for value, opt_str in question['options'] %}
    <li>
        <label class="btn btn-default">
            <input type="checkbox" name="{{ question['q_id'] }}" value="{{ value }}">{{ opt_str }}
        </label>
    </li>
{% endfor %}
</ul>
{% endmacro %}

{% macro render_wrapped_input(question) %}
    <div class="form-group">
        <span for="input">{{ question['prepend_text'] }}</span>
            <input class="form-control input-sm" form="main-form" type="{{ question['input_type'] }}" name="{{ question['q_id'] }}">
        <span for="input">{{ question['append_text'] }}</span>
    </div>
{% endmacro %}

{% macro render_pager(previous, next) %}
<ul class="pager">
    <li class="previous">
        <a href="{{ url_for(**previous) }}">
            <span class="glyphicon glyphicon-arrow-left"></span>上一页
        </a>
    </li>
    <li class="next">
        <a href="{{ url_for(**next) }}">
            下一页<span class="glyphicon glyphicon-arrow-right"></span>
        </a>
    <li>
</ul>
{% endmacro %}