<ul class="list-unstyled">
    <li>
    <div class="pannel pannel-primary">
        <div class="pannel-heading">
            <h3><a data-toggle="collapse" data-target="#rates-group-0">v0 <span class="caret"><span></a></h3>
        </div>
        <div class="pannel-body collapse" id="rates-group-0">
            <ul class="list-unstyled">
                <li><a herf="<< url_for('main.forms', report_type='self_report', form_name='cover', status='v0') >>">cover</a></li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="pannel pannel-primary">
        <div class="pannel-heading">
            <h3><a data-toggle="collapse" data-target="#rates-group-1">v1 <span class="caret"><span></a></h3>
        </div>
        <div class="pannel-body collapse" id="rates-group-1">
            <ul class="list-unstyled">
                <li><a herf="<< url_for('main.forms', report_type='self_report', form_name='inout', status='v1') >>">inout</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hamd', status='v1') >>">hamd</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ymrs', status='v1') >>">ymrs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='cgi', status='v1') >>">cgi</a></li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="pannel pannel-primary">
        <div class="pannel-heading">
            <h3><a data-toggle="collapse" data-target="#rates-group-2">v2 <span class="caret"><span></a></h3>
        </div>
        <div class="pannel-body collapse" id="rates-group-2">
            <ul class="list-unstyled">
                <li><a herf="<< url_for('main.forms', report_type='self_report', form_name='visit', status='v2') >>">visit</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='body_exam', status='v2') >>">body_exam</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='demograph', status='v2') >>">demograph</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='psychosis', status='v2') >>">psychosis</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='treatment', status='v2') >>">treatment</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='attacks', status='v2') >>">attacks</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='common_diease', status='v2') >>">common_diease</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='somatopathy', status='v2') >>">somatopathy</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='longterm_diease', status='v2') >>">longterm_diease</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='mense_pregnancy', status='v2') >>">mense_pregnancy</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='abuse', status='v2') >>">abuse</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='family_history', status='v2') >>">family_history</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hamd', status='v2') >>">hamd</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hama', status='v2') >>">hama</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ymrs', status='v2') >>">ymrs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='panns', status='v2') >>">panns</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='moas', status='v2') >>">moas</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ybocs', status='v2') >>">ybocs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='cgi', status='v2') >>">cgi</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='gaf', status='v2') >>">gaf</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='tess', status='v2') >>">tess</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_ekg', status='v2') >>">test_ekg</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_brs', status='v2') >>">test_brs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_bods', status='v2') >>">test_bods</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_bfs', status='v2') >>">test_bfs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_imms', status='v2') >>">test_imms</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_drug', status='v2') >>">test_drug</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_tm', status='v2') >>">test_tm</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_hemodynamic', status='v2') >>">test_hemodynamic</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_supersonic', status='v2') >>">test_supersonic</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_bmd', status='v2') >>">test_bmd</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_ssep', status='v2') >>">test_ssep</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_baep', status='v2') >>">test_baep</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_vep_pre', status='v2') >>">test_vep_pre</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_rep', status='v2') >>">test_rep</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_cnv', status='v2') >>">test_cnv</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_emt', status='v2') >>">test_emt</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_wm', status='v2') >>">test_wm</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_wais_rc', status='v2') >>">test_wais_rc</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_wcst', status='v2') >>">test_wcst</a></li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="pannel pannel-primary">
        <div class="pannel-heading">
            <h3><a data-toggle="collapse" data-target="#rates-group-3">v3 <span class="caret"><span></a></h3>
        </div>
        <div class="pannel-body collapse" id="rates-group-3">
            <ul class="list-unstyled">
                <li><a herf="<< url_for('main.forms', report_type='self_report', form_name='visit', status='v3') >>">visit</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hamd', status='v3') >>">hamd</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hama', status='v3') >>">hama</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ymrs', status='v3') >>">ymrs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='panns', status='v3') >>">panns</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='moas', status='v3') >>">moas</a></li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="pannel pannel-primary">
        <div class="pannel-heading">
            <h3><a data-toggle="collapse" data-target="#rates-group-4">v4 <span class="caret"><span></a></h3>
        </div>
        <div class="pannel-body collapse" id="rates-group-4">
            <ul class="list-unstyled">
                <li><a herf="<< url_for('main.forms', report_type='self_report', form_name='visit', status='v4') >>">visit</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hamd', status='v4') >>">hamd</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hama', status='v4') >>">hama</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ymrs', status='v4') >>">ymrs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='panns', status='v4') >>">panns</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='moas', status='v4') >>">moas</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ybocs', status='v4') >>">ybocs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='cgi', status='v4') >>">cgi</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='gaf', status='v4') >>">gaf</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='tess', status='v4') >>">tess</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_drug', status='v4') >>">test_drug</a></li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="pannel pannel-primary">
        <div class="pannel-heading">
            <h3><a data-toggle="collapse" data-target="#rates-group-5">v5 <span class="caret"><span></a></h3>
        </div>
        <div class="pannel-body collapse" id="rates-group-5">
            <ul class="list-unstyled">
                <li><a herf="<< url_for('main.forms', report_type='self_report', form_name='visit', status='v5') >>">visit</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='body_exam', status='v5') >>">body_exam</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hamd', status='v5') >>">hamd</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hama', status='v5') >>">hama</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ymrs', status='v5') >>">ymrs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='panns', status='v5') >>">panns</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='moas', status='v5') >>">moas</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ybocs', status='v5') >>">ybocs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='cgi', status='v5') >>">cgi</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='gaf', status='v5') >>">gaf</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='tess', status='v5') >>">tess</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='treatment', status='v5') >>">treatment</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_drug', status='v5') >>">test_drug</a></li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="pannel pannel-primary">
        <div class="pannel-heading">
            <h3><a data-toggle="collapse" data-target="#rates-group-6">v6 <span class="caret"><span></a></h3>
        </div>
        <div class="pannel-body collapse" id="rates-group-6">
            <ul class="list-unstyled">
                <li><a herf="<< url_for('main.forms', report_type='self_report', form_name='visit', status='v6') >>">visit</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='body_exam', status='v6') >>">body_exam</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='mense_pregnancy', status='v6') >>">mense_pregnancy</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='abuse', status='v6') >>">abuse</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='somatopathy', status='v6') >>">somatopathy</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hamd', status='v6') >>">hamd</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hama', status='v6') >>">hama</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ymrs', status='v6') >>">ymrs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='panns', status='v6') >>">panns</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='moas', status='v6') >>">moas</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ybocs', status='v6') >>">ybocs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='cgi', status='v6') >>">cgi</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='gaf', status='v6') >>">gaf</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='tess', status='v6') >>">tess</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='sae', status='v6') >>">sae</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='treatment', status='v6') >>">treatment</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_ekg', status='v6') >>">test_ekg</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_brs', status='v6') >>">test_brs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_bods', status='v6') >>">test_bods</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_bfs', status='v6') >>">test_bfs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_imms', status='v6') >>">test_imms</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_drug', status='v6') >>">test_drug</a></li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="pannel pannel-primary">
        <div class="pannel-heading">
            <h3><a data-toggle="collapse" data-target="#rates-group-7">v7 <span class="caret"><span></a></h3>
        </div>
        <div class="pannel-body collapse" id="rates-group-7">
            <ul class="list-unstyled">
                <li><a herf="<< url_for('main.forms', report_type='self_report', form_name='visit', status='v7') >>">visit</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='body_exam', status='v7') >>">body_exam</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hamd', status='v7') >>">hamd</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hama', status='v7') >>">hama</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ymrs', status='v7') >>">ymrs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='panns', status='v7') >>">panns</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='moas', status='v7') >>">moas</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ybocs', status='v7') >>">ybocs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='cgi', status='v7') >>">cgi</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='gaf', status='v7') >>">gaf</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='tess', status='v7') >>">tess</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='treatment', status='v7') >>">treatment</a></li>
            </ul>
        </div>
    </div>
</li>
<li>
    <div class="pannel pannel-primary">
        <div class="pannel-heading">
            <h3><a data-toggle="collapse" data-target="#rates-group-8">v8 <span class="caret"><span></a></h3>
        </div>
        <div class="pannel-body collapse" id="rates-group-8">
            <ul class="list-unstyled">
                <li><a herf="<< url_for('main.forms', report_type='self_report', form_name='visit', status='v8') >>">visit</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='body_exam', status='v8') >>">body_exam</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='mense_pregnancy', status='v8') >>">mense_pregnancy</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='abuse', status='v8') >>">abuse</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='somatopathy', status='v8') >>">somatopathy</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hamd', status='v8') >>">hamd</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='hama', status='v8') >>">hama</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ymrs', status='v8') >>">ymrs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='panns', status='v8') >>">panns</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='moas', status='v8') >>">moas</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='ybocs', status='v8') >>">ybocs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='cgi', status='v8') >>">cgi</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='gaf', status='v8') >>">gaf</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='tess', status='v8') >>">tess</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='sae', status='v8') >>">sae</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='treatment', status='v8') >>">treatment</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_ekg', status='v8') >>">test_ekg</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_brs', status='v8') >>">test_brs</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_bods', status='v8') >>">test_bods</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_hemodynamic', status='v8') >>">test_hemodynamic</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_imms', status='v8') >>">test_imms</a></li>
<li><a herf="<< url_for('main.forms', report_type='self_report', form_name='test_drug', status='v8') >>">test_drug</a></li>
            </ul>
        </div>
    </div>
</li>
</ul>