<div class="btn-group">
    <button type="button" class="btn btn-default">v0</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='cover', status='v0') }}">cover</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default">v2</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='visit', status='v2') }}">visit</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='qids', status='v2') }}">qids</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='dsss', status='v2') }}">dsss</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='pain', status='v2') }}">pain</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='mfi_20', status='v2') }}">mfi_20</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='psqi', status='v2') }}">psqi</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='meq_sa', status='v2') }}">meq_sa</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='staxi_2', status='v2') }}">staxi_2</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='ipas', status='v2') }}">ipas</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='mdq', status='v2') }}">mdq</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='les', status='v2') }}">les</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='ssp', status='v2') }}">ssp</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='pbi', status='v2') }}">pbi</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='ctq', status='v2') }}">ctq</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default">v3</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='visit', status='v3') }}">visit</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='dsss', status='v3') }}">dsss</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='mfi_20', status='v3') }}">mfi_20</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default">v4</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='visit', status='v4') }}">visit</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='qids', status='v4') }}">qids</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='dsss', status='v4') }}">dsss</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='pain', status='v4') }}">pain</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='mfi_20', status='v4') }}">mfi_20</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='psqi', status='v4') }}">psqi</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='meq_sa', status='v4') }}">meq_sa</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='staxi_2', status='v4') }}">staxi_2</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default">v5</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='visit', status='v5') }}">visit</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='qids', status='v5') }}">qids</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='dsss', status='v5') }}">dsss</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='pain', status='v5') }}">pain</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='mfi_20', status='v5') }}">mfi_20</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='psqi', status='v5') }}">psqi</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='meq_sa', status='v5') }}">meq_sa</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='staxi_2', status='v5') }}">staxi_2</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default">v6</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='visit', status='v6') }}">visit</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='qids', status='v6') }}">qids</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='dsss', status='v6') }}">dsss</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='pain', status='v6') }}">pain</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='mfi_20', status='v6') }}">mfi_20</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='psqi', status='v6') }}">psqi</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='meq_sa', status='v6') }}">meq_sa</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='staxi_2', status='v6') }}">staxi_2</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default">v7</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='visit', status='v7') }}">visit</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='qids', status='v7') }}">qids</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='dsss', status='v7') }}">dsss</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='pain', status='v7') }}">pain</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='mfi_20', status='v7') }}">mfi_20</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='psqi', status='v7') }}">psqi</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='meq_sa', status='v7') }}">meq_sa</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='staxi_2', status='v7') }}">staxi_2</a></li>
    </ul>
</div>
<div class="btn-group">
    <button type="button" class="btn btn-default">v8</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='visit', status='v8') }}">visit</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='qids', status='v8') }}">qids</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='dsss', status='v8') }}">dsss</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='pain', status='v8') }}">pain</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='mfi_20', status='v8') }}">mfi_20</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='psqi', status='v8') }}">psqi</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='meq_sa', status='v8') }}">meq_sa</a></li>
        <li><a href="{{ url_for('main.forms', report_type='self_report', form_name='staxi_2', status='v8') }}">staxi_2</a></li>
    </ul>
</div>