<ul class="list-unstyled">
    <li>
        <a class="btn btn-default" type="button" data-toggle="collapse" data-target="#rates-group-0">v0 <span class="caret"><span></a>
        <div class="collapse" id="rates-group-0">
            <ul class="list-unstyled"">
                <li>cover</li>
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-default" type="button" data-toggle="collapse" data-target="#rates-group-1">v1 <span class="caret"><span></a>
        <div class="collapse" id="rates-group-1">
            <ul class="list-unstyled"">
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-default" type="button" data-toggle="collapse" data-target="#rates-group-2">v2 <span class="caret"><span></a>
        <div class="collapse" id="rates-group-2">
            <ul class="list-unstyled"">
                <li>visit</li>
                <li>qids</li>
                <li>dsss</li>
                <li>pain</li>
                <li>mfi_20</li>
                <li>psqi</li>
                <li>meq_sa</li>
                <li>staxi_2</li>
                <li>ipas</li>
                <li>mdq</li>
                <li>les</li>
                <li>ssp</li>
                <li>pbi</li>
                <li>ctq</li>
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-default" type="button" data-toggle="collapse" data-target="#rates-group-3">v3 <span class="caret"><span></a>
        <div class="collapse" id="rates-group-3">
            <ul class="list-unstyled"">
                <li>visit</li>
                <li>dsss</li>
                <li>mfi_20</li>
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-default" type="button" data-toggle="collapse" data-target="#rates-group-4">v4 <span class="caret"><span></a>
        <div class="collapse" id="rates-group-4">
            <ul class="list-unstyled"">
                <li>visit</li>
                <li>qids</li>
                <li>dsss</li>
                <li>pain</li>
                <li>mfi_20</li>
                <li>psqi</li>
                <li>meq_sa</li>
                <li>staxi_2</li>
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-default" type="button" data-toggle="collapse" data-target="#rates-group-5">v5 <span class="caret"><span></a>
        <div class="collapse" id="rates-group-5">
            <ul class="list-unstyled"">
                <li>visit</li>
                <li>qids</li>
                <li>dsss</li>
                <li>pain</li>
                <li>mfi_20</li>
                <li>psqi</li>
                <li>meq_sa</li>
                <li>staxi_2</li>
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-default" type="button" data-toggle="collapse" data-target="#rates-group-6">v6 <span class="caret"><span></a>
        <div class="collapse" id="rates-group-6">
            <ul class="list-unstyled"">
                <li>visit</li>
                <li>qids</li>
                <li>dsss</li>
                <li>pain</li>
                <li>mfi_20</li>
                <li>psqi</li>
                <li>meq_sa</li>
                <li>staxi_2</li>
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-default" type="button" data-toggle="collapse" data-target="#rates-group-7">v7 <span class="caret"><span></a>
        <div class="collapse" id="rates-group-7">
            <ul class="list-unstyled"">
                <li>visit</li>
                <li>qids</li>
                <li>dsss</li>
                <li>pain</li>
                <li>mfi_20</li>
                <li>psqi</li>
                <li>meq_sa</li>
                <li>staxi_2</li>
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-default" type="button" data-toggle="collapse" data-target="#rates-group-8">v8 <span class="caret"><span></a>
        <div class="collapse" id="rates-group-8">
            <ul class="list-unstyled"">
                <li>visit</li>
                <li>qids</li>
                <li>dsss</li>
                <li>pain</li>
                <li>mfi_20</li>
                <li>psqi</li>
                <li>meq_sa</li>
                <li>staxi_2</li>
            </ul>
        </div>
    </li>
</ul>