{% extends "base.html" %}

{% block inner %}
<div class="container-fluid">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">工作小结</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <span class="label label-success">已完成</span>
                        <span class="text-success">{{ finished }}</span>
                    </li>
                        <span class="label label-warning">未完成</span>
                        <span class="text-warning">{{ unfinished }}</span>
                    </li>
                    <li>
                        <span class="label label-info">共填写</span>
                        <span class="text-info">{{ total }}</span>
                    </li>
                </ul>
                <a class="btn btn-primary pull-right" href="{{ url_for('main.get_all_patients') }}">详细数据</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                当前工作
            </div>
            <div class="panel-body">
                <p>当前病人：{{ p_name}} 编号：{{ p_code }} 报告状态：
                {% if p_finished %}
                <span class="label label-success">完成</span>
                {% else %}
                <span class="label label-warning">未完成</span>
                {% endif %}
                </p>
                <p>填写人：{{ username }}</p>
                <a class="btn btn-primary pull-right" href="{{ url_for('main.selfreport') }}">开始新报告</a>
            </div>
       </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">个人资料</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>
                        <form class="form-horizontal" method="post" action="{{ url_for('auth.change_username') }}">
                            <h3>更改用户名</h3>
                            <div class="form-group">
                                <label class="control-label col-md-2">用户名</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="username" value="{{ u.username }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">邮箱</label>
                                <div class="col-md-10">
                                    <input class="form-control" name="email" value="{{ u.email }}" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary pull-right" type="submit">提交</button>
                            </div>
                        </form>
                    </li>
                    <li>
                        <form class="form-horizontal" method="post" action="{{ url_for('auth.change_password') }}">
                            <h3>修改密码</h3>
                            <div class="form-group">
                                <label class="control-label col-md-2">旧密码</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="password" name="old_password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">新密码</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="password" name="new_password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">确认</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="password" name="confirm_password">
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary pull-right" type="submit">提交</button>
                            </div>
                        </form>
                    </li>
                </ul>
                <h2 class="text-danger">注销账户</h2>
                <p class="text-danger">这个操作将删除你的账户和通过此账户填写的所有报告!</p>
                <a class="btn btn-danger pull-right" href="{{ url_for('auth.delete') }}">删除</a>
            </div>
        </div>
    </div>           
</div>
{% endblock inner %}